<Configuration>
    <Server
        maxThreads="20"
        port="8090"/>
    <Pipeline name="PROOF">
        <DicomImportService
            class="org.rsna.ctp.stdstages.DicomImportService"
            logConnections="no"
            name="DicomImportService"
            port="1050"
            quarantine="quarantines/DicomImportService"
            root="ctpData/PROOF/roots/dicomImportService"/>
        <DicomDecompressor
            class="org.rsna.ctp.stdstages.DicomDecompressor"
            name="DicomDecompressor"
            quarantine="ctpData/PROOF/quarantines/dicom-decompressor"
            root="ctpData/PROOF/roots/dicom-decompressor"
            script="scripts/DicomDecompressor.script"/>
        <DicomAnonymizer
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            lookupTable="ctpConfig/PROOF/lookup.properties"
            name="Client DICOM Anonymizer"
            quarantine="ctpData/PROOF/quarantines/dicom-anonymizer"
            root="ctpData/PROOF/roots/dicom-anonymizer"
            script="ctpConfig/PROOF/anonymizer.properties"/>
        <DicomAnonymizer
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            lookupTable="ctpConfig/PROOF/lookup.properties"
            name="XNAT-Anon"
            quarantine="ctpData/PROOF/quarantines/xnatAnon"
            root="ctpData/PROOF/roots/xnatAnon"
            script="ctpConfig/PROOF/DicomAnonymizerXnat.script"/>
        <DicomFilter
            class="org.rsna.ctp.stdstages.DicomFilter"
            name="PatientIdFilter"
            quarantine="ctpData/PROOF/quarantines/dicom-filter"
            root="ctpData/PROOF/roots/dicom-filter"
            script="ctpConfig/PROOF/filter.script"/>
        <BasicFileStorageService
            class="org.rsna.ctp.stdstages.BasicFileStorageService"
            index="roots/BasicFileStorageService/index"
            maxSize="200"
            nLevels="3"
            name="BasicFileStorageService"
            quarantine="quarantines/BasicFileStorageService"
            returnStoredFile="yes"
            root="roots/BasicFileStorageService/storage"/>
        <DicomExportService
            class="org.rsna.ctp.stdstages.DicomExportService"
            forceClose="yes"
            interval="2000"
            logDuplicates="yes"
            name="DicomExportService"
            quarantine="ctpData/PROOF/quarantines/DicomExportService"
            root="ctpData/PROOF/roots/DicomExportService"
            throttle="100"
            url="dicom://XNAT@bigr-rad-xnat.erasmusmc.nl:8104"/>
    </Pipeline>
</Configuration>
